<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>채팅방</title>
	<link rel='stylesheet' href="./public/chat_style.css"/>
</head>
<body>
	<!--컨텐츠 영역-->
	<div id="contents">
		<h1>
			채팅방
		</h1>
	<div class="chat_content">
		<!--Login AREA START-->
		<div class="chat_login">
			<div class="chat_login_form">
				<input type="text" class="login_input" value="ID 입력"/>&nbsp;&nbsp;<a href="#">접속하기</a>
			</div>
			<div class="now_user_cnt"><strong>현재접속자수</strong> : 10</div>
		</div>
		<!--Login AREA END-->
		<!-- CHATROOM AREA START-->
		<div class="chat_form">
			<div class="chat_list">
				<strong>STONE : </strong>동해물과 백두산이 마르고 닳도록 하느 마르고 닳도록 하느 <br/>
			</div>
			<div class="chat_user">
				<div class="chat_user_list">
					<ul>
						<li>stone2222</li>
						<li>stone3333</li>
						<li>stone2222</li>
						<li>stone3333</li>
						<li>stone2222</li>
					</ul>	
				</div>
			</div>
			<div class="chat_input">
				<input type="text" class="chat_input_txt" value="대화 글을 입력하세요"/> 
			</div>
			<div class="chat_btn">
				<a href="#">입력</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">나가기</a>
			<!-- CHATROOM AREA END-->
			</div>		
		</div>
		<!-- ACCESS LOG AREA START-->
		<div class="chat_history">
			<div class="chat_history_list">
					stone 접속하셨습니다.<br/>
					stone 접속하셨습니다.<br/>
					stone 접속하셨습니다.<br/>
					stone 접속하셨습니다.<br/>
					stone 접속하셨습니다.<br/>
					stone 접속하셨습니다.<br/>

			</div>
		</div>
		<!-- ACCESS LOG AREA END-->
		
	</div>	
	</div>

</body>
</html>